{% extends "base.html" %} {% block title %} Courses {% endblock %}
{% block content %}


<div class="container px-4 mt-5"
  style="padding: 3 rem!important;color: white; background-image: linear-gradient(rgb(1, 194, 130), rgba(1, 128, 0, 0.218));border-radius: 4rem;"
  id="course"><br>
  <h1 class="pb-2 text-center my-4" style="font-size: 35px;">Courses</h1>
  <div class="row g-4 py-2 row-cols-1 row-cols-lg-3" style="flex-wrap: wrap;">
    <div class="course col">
      <h2>BS Computer Science</h2>
      <p class="justify">A Bachelor of Science in Computer Science (BSCS) is an undergraduate degree program that
        provides students with a comprehensive understanding of computer systems, programming languages, algorithms,
        software engineering, and the theoretical foundations of computing. This degree equips students with the
        knowledge and skills necessary to design, develop, and analyze software and computer systems, making them
        well-prepared for various roles in the tech industry.</p>
    </div>
    <div class="course col">
      <h2>BS Information Technology</h2>
      <p class="justify">Information Technology, often abbreviated as IT, refers to the utilization, development, and
        management of computer systems, software, and networks for storing, retrieving, transmitting, and manipulating
        data. IT professionals work with a variety of technologies to ensure that computer systems function efficiently
        and securely to meet the needs of businesses and organizations.</p>
    </div>
    <div class="course col">
      <h2>BS Criminology</h2>
      <p class="justify">A Bachelor of Science in Criminology (BSCrim) is an undergraduate degree program that focuses
        on the study of crime, criminal behavior, law enforcement, criminal justice, and the legal system. This degree
        equips students with knowledge and skills in crime prevention, criminal investigation, law enforcement
        administration, and social science research.</p>
    </div>
    <div class="course col">
      <h2>BS Nursing</h2>
      <p class="justify">A Bachelor of Science in Nursing (BSN) is a rigorous undergraduate degree program designed to
        prepare students for a career in nursing. BSN programs provide a comprehensive education in both the theoretical
        knowledge and practical skills needed to excel in the healthcare industry. </p>
    </div>
    <div class="course col">
      <h2>BS Social Work</h2>
      <p class="justify">A Bachelor of Science in Social Work (BSSW) is an undergraduate degree program that prepares
        students for entry-level positions in social work and related fields. It equips students with the knowledge,
        skills, and values necessary to work with individuals, families, and communities to improve their well-being.
      </p>
    </div>
    <div class="course col">
      <h2>BS Islamic Studies</h2>
      <p class="justify">A Bachelor of Science in Islamic Studies (BS Islamic Studies) is an undergraduate degree
        program that focuses on the academic study of Islam, its teachings, history, culture, and contributions to
        various fields. This program provides students with a deep understanding of Islamic theology, jurisprudence,
        philosophy, and ethics. It also explores the historical and contemporary aspects of Islam, allowing students to
        critically analyze Islamic texts and traditions.</p>
    </div>
    <div class="course col">
      <h2>AB Asian Studies</h2>
      <p class="justify">A Bachelor of Science in Asian Studies (BS Asian Studies) is an undergraduate degree program
        that focuses on the interdisciplinary study of the cultures, societies, languages, history, politics, and
        economies of Asian countries and regions. This program provides students with a deep understanding of Asia's
        diverse and complex dynamics, preparing them for careers in fields such as international relations, diplomacy,
        business, education, and research.</p>
    </div>
    <div class="course col">
      <h2>BS Biology</h2>
      <p class="justify">A Bachelor of Science in Biology (BS Biology) is an undergraduate degree program that provides
        students with a comprehensive understanding of the biological sciences. It covers a wide range of topics,
        including genetics, ecology, physiology, evolution, and cellular biology.</p>
    </div>
    <div class="course col">
      <h2>BS Architecture</h2>
      <p class="justify">A Bachelor of Science in Architecture (BS Architecture) is an undergraduate degree program that
        provides students with a comprehensive understanding of the principles and practices of architecture. This
        program combines artistic, technical, and theoretical knowledge to prepare students for careers in the field of
        architecture and related disciplines.</p>
    </div>
    <div class="course col">
      <h2>BS Agriculture Biosystem Engineering</h2>
      <p class="justify">A Bachelor of Science in Agriculture Biosystem Engineering (BS ABSE) is an undergraduate degree
        program that combines principles from agricultural engineering, biological systems, and environmental science.
        This interdisciplinary field focuses on designing and implementing efficient and sustainable agricultural
        systems and processes.</p>
    </div>
    <div class="course col">
      <h2>BS Computer Engineering</h2>
      <p class="justify">A Bachelor of Science in Computer Engineering (BS Computer Engineering) is an undergraduate
        degree program that integrates the principles of computer science and electrical engineering. This field focuses
        on the design, development, and maintenance of computer systems and their components.</p>
    </div>
    <div class="course col">
      <h2>BS Electronics Engineering</h2>
      <p class="justify">A Bachelor of Science in Electronics Engineering (BS Electronics Engineering) is an
        undergraduate degree program that focuses on the design, development, testing, and maintenance of electronic
        circuits and systems. It combines principles from electrical engineering and computer science to prepare
        students for careers in various fields related to electronics and technology.</p>
    </div>
    <div class="course col">
      <h2>BS Geodetic Engineering</h2>
      <p class="justify">A Bachelor of Science in Geodetic Engineering (BS Geodetic Engineering) is an undergraduate
        degree program that focuses on the measurement, representation, analysis, interpretation, and management of
        spatial and geographical information. Geodetic engineering involves the use of advanced technology to accurately
        measure and map the Earth's surface, making it a critical field for various applications, including land
        surveying, mapping, urban planning, and environmental monitoring.</p>
    </div>
    <div class="course col">
      <h2>BS Mechanical Engineering</h2>
      <p class="justify">A Bachelor of Science in Mechanical Engineering (BSME) is an undergraduate degree program that
        equips students with a strong foundation in the principles of mechanical engineering. Mechanical engineering is
        a broad field that involves the design, analysis, manufacturing, and maintenance of mechanical systems.</p>
    </div>
    <div class="course col">
      <h2>BS Civil Engineering</h2>
      <p class="justify">A Bachelor of Science in Civil Engineering (BSCE) is an undergraduate degree program that
        prepares students to plan, design, construct, and maintain infrastructure projects and systems. Civil
        engineering encompasses a wide range of activities, including the design of buildings, bridges, roads, dams,
        water supply systems, and environmental engineering projects.</p>
    </div>
    <div class="course col">
      <h2>BS Electrical Engineering</h2>
      <p class="justify">A Bachelor of Science in Electrical Engineering (BS Electrical Engineering or BSEE) is an
        undergraduate degree program that focuses on the study and application of electricity, electronics, and
        electromagnetism. Electrical engineering is a broad field that encompasses various sub-disciplines, including
        power systems, electronics, telecommunications, and control systems.</p>
    </div>
    <div class="course col">
      <h2>BS Environmental Engineering</h2>
      <p class="justify">A Bachelor of Science in Environmental Engineering (BS Environmental Engineering) is an
        undergraduate degree program that combines principles from various fields, including civil engineering, chemical
        engineering, biology, and chemistry. Environmental engineers focus on solving environmental problems and
        implementing sustainable solutions related to air and water quality, waste management, pollution control, and
        environmental conservation.</p>
    </div>
    <div class="course col">
      <h2>BS Industrial Engineering</h2>
      <p class="justify">A Bachelor of Science in Industrial Engineering (BSIE) is an undergraduate degree program that
        focuses on optimizing processes and systems in various industries. Industrial engineers analyze, design, and
        implement integrated systems of people, materials, information, equipment, and energy to enhance efficiency and
        productivity.</p>
    </div>
    <div class="course col">
      <h2>BS Sanitary Engineering</h2>
      <p class="justify">A Bachelor of Science in Sanitary Engineering (BS Sanitary Engineering) is an undergraduate
        degree program that focuses on the design, construction, and maintenance of sanitary systems and facilities.
        Sanitary engineers play a crucial role in ensuring the proper management of water supply, wastewater treatment,
        solid waste management, and environmental sanitation.</p>
    </div>
    <div class="course col">
      <h2>BS Home Economics</h2>
      <p class="justify">A Bachelor of Science in Home Economics (BS Home Economics) is an undergraduate degree program
        that focuses on various aspects of domestic and family life, including nutrition, textiles and clothing, family
        and consumer sciences, and human development. The field of home economics encompasses a wide range of topics
        related to the well-being and management of households.</p>
    </div>
    <div class="course col">
      <h2>BS Nutrition and Dietetics</h2>
      <p class="justify">A Bachelor of Science in Nutrition and Dietetics (BS Nutrition and Dietetics) is an
        undergraduate degree program that focuses on the study of nutrition, health, and food sciences. This program
        prepares students to become registered dietitians or nutritionists, working in various settings such as
        hospitals, clinics, public health agencies, research institutions, and food industry.</p>
    </div>
    <div class="course col">
      <h2>BS Hospitality Management</h2>
      <p class="justify">A Bachelor of Science in Hospitality Management (BS Hospitality Management) is an undergraduate
        degree program that prepares students for careers in the hospitality and tourism industry. It covers various
        aspects of hospitality, including hotel management, restaurant management, event planning, tourism, and customer
        service.</p>
    </div>
    <div class="course col">
      <h2>AB Broadcasting</h2>
      <p class="justify">A Bachelor of Arts in Broadcasting (AB Broadcasting) is an undergraduate degree program that
        focuses on various aspects of the broadcasting industry, including television, radio, film, and digital media.
        This program prepares students for careers in media production, journalism, broadcasting, and multimedia
        storytelling.</p>
    </div>
    <div class="course col">
      <h2>AB Journalism</h2>
      <p class="justify">A Bachelor of Arts in Journalism (AB Journalism) is an undergraduate degree program that
        prepares students for careers in the field of journalism and mass communication. This program focuses on
        developing skills in reporting, writing, editing, and producing news stories for various media platforms,
        including newspapers, magazines, television, radio, and online outlets.</p>
    </div>
    <div class="course col">
      <h2>BS Filipino</h2>
      <p class="justify">A Bachelor of Science in Filipino (BS Filipino) is an undergraduate degree program that focuses
        on the study of the Filipino language, literature, and culture. This program aims to develop students'
        proficiency in the Filipino language, enhance their understanding of Filipino literature, and deepen their
        appreciation of Filipino culture and heritage.</p>
    </div>
    <div class="course col">
      <h2>BS Economics</h2>
      <p class="justify">A Bachelor of Science in Economics (BS Economics) is an undergraduate degree program that
        focuses on the study of economic theories, principles, and analysis. It provides students with a strong
        foundation in microeconomics (individual economic behavior) and macroeconomics (aggregate economic systems) and
        equips them with analytical and quantitative skills to understand and interpret economic phenomena.</p>
    </div>
    <div class="course col">
      <h2>BA English Language Studies</h2>
      <p class="justify">A Bachelor of Arts in English Language Studies (BA English Language Studies) is an
        undergraduate degree program that focuses on the study of the English language and its various aspects,
        including linguistics, literature, communication, and language teaching. This program provides students with a
        comprehensive understanding of the English language, its structure, history, and usage, as well as the ability
        to critically analyze literary texts and communicate effectively.</p>
    </div>
    <div class="course col">
      <h2>AB History</h2>
      <p class="justify">A Bachelor of Arts in History (AB History) is an undergraduate degree program that focuses on
        the study of historical events, societies, cultures, and civilizations. It involves analyzing and interpreting
        past events, trends, and developments to understand how they have shaped the present and may influence the
        future.</p>
    </div>
    <div class="course col">
      <h2>AB Political Science</h2>
      <p class="justify">A Bachelor of Arts in Political Science (AB Political Science) is an undergraduate degree
        program that focuses on the study of political institutions, processes, theories, and behavior. Political
        science is a broad field that encompasses various sub-disciplines, including comparative politics, international
        relations, political theory, public administration, and public policy.</p>
    </div>
    <div class="course col">
      <h2>BS Accountancy</h2>
      <p class="justify">A Bachelor of Science in Accountancy (BS Accountancy) is an undergraduate degree program that
        prepares students for careers in accounting, finance, audit, and taxation. The program provides students with a
        strong foundation in accounting principles, financial management, taxation, auditing, and business law.</p>
    </div>
    <div class="course col">
      <h2>BS Psychology</h2>
      <p class="justify">A Bachelor of Science in Psychology (BS Psychology) is an undergraduate degree program that
        provides students with a comprehensive understanding of human behavior, emotions, cognition, and mental
        processes. This program combines scientific principles and theories to explore various aspects of psychology,
        including clinical psychology, counseling, research methods, and human development.</p>
    </div>
    <div class="course col">
      <h2>BS Public Administration</h2>
      <p class="justify">A Bachelor of Science in Public Administration (BS Public Administration) is an undergraduate
        degree program that prepares students for careers in the public sector, non-profit organizations, and
        governmental agencies. This program focuses on the principles and practices of public administration,
        governance, policy analysis, and public service.</p>
    </div>
    <div class="course col">
      <h2>BS Mathematics</h2>
      <p class="justify">A Bachelor of Science in Mathematics (BS Mathematics) is an undergraduate degree program that
        provides students with a strong foundation in mathematical theories, principles, and applications. Mathematics
        is a diverse field, and a BS in Mathematics program typically covers a wide range of topics, including calculus,
        algebra, statistics, discrete mathematics, and mathematical modeling.</p>
    </div>
    <div class="course col">
      <h2>BS Statistics</h2>
      <p class="justify">A Bachelor of Science in Statistics (BS Statistics) is an undergraduate degree program that
        focuses on the study of statistical theories, methods, and applications. Statistics is the science of
        collecting, analyzing, interpreting, presenting, and organizing data, making it a crucial discipline in various
        fields such as science, business, social sciences, healthcare, and government.</p>
    </div>
    <div class="course col">
      <h2>BS Chemistry</h2>
      <p class="justify"> Bachelor of Science in Chemistry (BS Chemistry) is an undergraduate degree program that
        provides students with a strong foundation in the principles of chemistry. This program covers various branches
        of chemistry, including organic, inorganic, analytical, physical, and biochemistry.</p>
    </div>
    <div class="course col">
      <h2>BS Physics</h2>
      <p class="justify">A Bachelor of Science in Physics (BS Physics) is an undergraduate degree program that provides
        students with a deep understanding of the fundamental principles that govern the physical universe. Physics is a
        broad and fundamental scientific discipline that explores the behavior of matter, energy, space, and time.</p>
    </div>
    <div class="course col">
      <h2>BS Community Development</h2>
      <p class="justify">A Bachelor of Science in Community Development (BS Community Development) is an
        interdisciplinary degree program that focuses on empowering communities to improve their social, economic, and
        environmental well-being. This program combines knowledge from various fields such as sociology, economics,
        urban planning, environmental studies, and public administration to address the unique challenges faced by
        communities.</p>
    </div>
    <div class="course col">
      <h2>BS Culture and Arts Education</h2>
      <p class="justify">A Bachelor of Science in Culture and Arts Education is an undergraduate degree program that
        focuses on the study of culture, arts, and education. This interdisciplinary program combines elements from
        fields such as arts, humanities, education, and social sciences to prepare students for careers in teaching,
        cultural preservation, arts administration, and related fields.</p>
    </div>
    <div class="course col">
      <h2>BS Early Childhood Education</h2>
      <p class="justify">A Bachelor of Science in Early Childhood Education (BS ECE) is an undergraduate degree program
        designed to prepare individuals to work with young children, typically from birth to around eight years old.
        This program focuses on early childhood development, educational theories, teaching methods, and classroom
        management techniques.</p>
    </div>
    <div class="course col">
      <h2>BS Elementary Education</h2>
      <p class="justify">A Bachelor of Science in Elementary Education (BS Elementary Education) is an undergraduate
        degree program designed to prepare individuals to become elementary school teachers. This program focuses on
        teaching methods, curriculum development, classroom management, and child psychology, with a specific emphasis
        on elementary education.</p>
    </div>
    <div class="course col">
      <h2>BS Special Needs Education</h2>
      <p class="justify">A Bachelor of Science in Special Needs Education (BS Special Needs Education) is an
        undergraduate degree program designed to prepare educators to work with individuals who have diverse learning
        needs and abilities. This program focuses on inclusive teaching methods, special education strategies,
        behavioral interventions, and assessment techniques tailored to support students with disabilities.</p>
    </div>
    <div class="course col">
      <h2>BS Secondary Education</h2>
      <p class="justify">A Bachelor of Science in Secondary Education (BS Secondary Education) is an undergraduate
        degree program designed to prepare individuals to become middle school and high school teachers. This program
        focuses on subject-specific teaching methods, educational theories, classroom management, and student assessment
        techniques.</p>
    </div>
  </div>
</div>


{% endblock %}