{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
{% load static%}
<div class="text-center"
  style="padding: 16rem!important; background-image: linear-gradient(rgb(1, 194, 130), rgba(1, 128, 0, 0.218));border-radius: 40px;">
  <br><br>
  <h1 class="display-7 fw-bold" style="color: white;">CouGramTion: The Web That Cares!</h1>
  <p class="fs-9" style="color: white;">"Our advanced course recommendation system employs cutting-edge algorithms to
    analyze your academic
    performance, ensuring you discover the perfect courses tailored to your unique preferences and goals."
  </p>
  <a class="btn btn-lg btn-outline-success btn-apply btn-font" href="Recommend">Get Started</a>

</div>
<br><br>
<div class="container px-4 mt-5" id="feature">
  <h1 class="pb-2 text-center my-4" style="font-size: 35px;">Features</h1>
  <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <h2>Accurate Predictions</h2>
      <p class="justify" style="color: gray;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum .</p>
    </div>
    <div class="feature col">
      <h2>Save Time and Effort</h2>
      <p class="justify" style="color: gray;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
    </div>
    <div class="feature col">
      <h2>Confidence in Your Choice</h2>
      <p class="justify"style="color: gray;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
    </div>
  </div>
</div>
<br><br><br><br>
<hr class="featurette-divider">
<div class="container px-4 mt-5"
  style="padding: 3 rem!important;color: white; background-image: linear-gradient(rgb(1, 194, 130), rgba(1, 128, 0, 0.218));border-radius: 4rem;"
  id="course"><br>
  <h1 class="pb-2 text-center my-4" style="font-size: 35px;">Courses</h1>
  <div class="row g-4 py-2 row-cols-1 row-cols-lg-3" style="flex-wrap: wrap;">
    <div class="course col">
      <h2>BS Computer Science</h2>
      <p class="justify">A Bachelor of Science in Computer Science (BSCS) is an undergraduate degree program that
        provides students with a comprehensive understanding of computer systems, programming languages, algorithms,
        software engineering, and the theoretical foundations of computing. This degree equips students with the
        knowledge and skills necessary to design, develop, and analyze software and computer systems, making them
        well-prepared for various roles in the tech industry.</p>
    </div>
    <div class="course col">
      <h2>BS Information Technology</h2>
      <p class="justify">Information Technology, often abbreviated as IT, refers to the utilization, development, and
        management of computer systems, software, and networks for storing, retrieving, transmitting, and manipulating
        data. IT professionals work with a variety of technologies to ensure that computer systems function efficiently
        and securely to meet the needs of businesses and organizations.</p>
    </div>
    <div class="course col">
      <h2>BS Criminology</h2>
      <p class="justify">A Bachelor of Science in Criminology (BSCrim) is an undergraduate degree program that focuses
        on the study of crime, criminal behavior, law enforcement, criminal justice, and the legal system. This degree
        equips students with knowledge and skills in crime prevention, criminal investigation, law enforcement
        administration, and social science research.</p>
    </div>
    <div class="course col">
      <h2>BS Nursing</h2>
      <p class="justify">A Bachelor of Science in Nursing (BSN) is a rigorous undergraduate degree program designed to
        prepare students for a career in nursing. BSN programs provide a comprehensive education in both the theoretical
        knowledge and practical skills needed to excel in the healthcare industry. </p> 
    </div>
    <div class="course col">
      <h2>BS Social Work</h2>
      <p class="justify">A Bachelor of Science in Social Work (BSSW) is an undergraduate degree program that prepares
        students for entry-level positions in social work and related fields. It equips students with the knowledge,
        skills, and values necessary to work with individuals, families, and communities to improve their well-being.
      </p>
      <a class="btn btn-lg btn-outline-success btn-apply btn-font" href="Courses">See More</a>
    </div>
    <div class="course col">
      <h2>BS Islamic Studies</h2>
      <p class="justify">A Bachelor of Science in Islamic Studies (BS Islamic Studies) is an undergraduate degree
        program that focuses on the academic study of Islam, its teachings, history, culture, and contributions to
        various fields. This program provides students with a deep understanding of Islamic theology, jurisprudence,
        philosophy, and ethics. It also explores the historical and contemporary aspects of Islam, allowing students to
        critically analyze Islamic texts and traditions.</p>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center" id="about us">
  <h1 class="pb-2 fw-normal" style="font-size: 35px;">About Us</h1>
</div>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-3 p-md-4 p-lg-5" style="background-image: linear-gradient(rgb(1, 194, 130), rgba(1, 128, 0, 0.218));border-radius: 4.3rem!important;">
      <h2 class="text-center">What is CouGramTion?</h2>
      <p class="text-justify">
        CouGramTion is an innovative and intelligent course recommendation system designed to revolutionize the way
        students plan their academic journeys. Guided by cutting-edge machine learning algorithms, CouGramTion analyzes
        diverse data points, including academic performance and personal attributes, to predict and recommend tailored
        courses for incoming first-year students at Western Mindanao State University.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-3 p-md-4 p-lg-5" style="border-radius: 4.3rem!important;background-image: linear-gradient(rgb(1, 194, 130), rgba(1, 128, 0, 0.218))">
      <h2 class="text-center">How it works?</h2>
      <p class="text-justify">
        By seamlessly integrating student data and advanced algorithms, CouGramTion accurately recommends the ideal
        courses for each student. Students simply sign up, provide their information, and CouGramTion does the rest.
        With CouGramTion, students can confidently embark on their educational paths, equipped with personalized course
        recommendations that align with their interests, strengths, and aspirations.
      </p>
    </div>
  </div>
</div>

<div class="row featurette featurette-2">
  <div class="col-12 col-md-12 col-lg-7">

  </div>
</div>
<hr class="featurette-divider">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center" id="researcher">
  <h1 class="pb-2 fw-normal" style="font-size: 35px;">Researchers</h1>
</div>
<div class="row researcher">
  <div class="col-lg-4 text-center">
    <img src="{% static 'images/pasi.png'%}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
    <h3>Faseeh A. Aukasa</h3>
    
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 text-center">
    <img src="{% static 'images/peni.jpg'%}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
    <h3>Fenny Segovia</h3>
    
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 text-center">
    <img src="{% static 'images/kurt.jpg'%}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
    <h3>Kurt Pobre</h3>
    
  </div><!-- /.col-lg-4 -->
  <hr class="featurette-divider">
</div>
</main>
<script>
  $(document).ready(function () {
    $('a#home').on('click', function () {
      $('.nav-link').removeClass('active');
      $('a#home').addClass('active');
      $('html,body').animate({
        scrollTop: $('main#home').offset().top - 90
      }, 'fast');
    });
    $('a#feature').on('click', function () {
      $('.nav-link').removeClass('active');
      $('a#feature').addClass('active');
      $('html,body').animate({
        scrollTop: $('div#feature').offset().top - 90
      }, 'fast');
    });
    $('a#about\\ us').on('click', function () {
      $('.nav-link').removeClass('active');
      $('a#about\\ us').addClass('active');
      $('html,body').animate({
        scrollTop: $('div#about\\ us').offset().top - 90
      }, 'fast');
    });
  });
 
 
</script>
{% endblock %}