<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-between">
    <div id="logo">
      <h1><a href="index" style="text-decoration: none;">CouGramTion</a></h1>
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="index" id="home">Home</a></li>
        <li><a class="nav-link" href="#Features" id="feature">Features</a></li>
        <li><a class="nav-link" href="Courses">Courses</a></li>
        <li><a class="nav-link" href="#About Us" id="about us">About Us</a></li>
        <li><a class="nav-link" href="Recommend" id="recommend">Recommend</a></li>
       
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
